* {
    margin: 0px;
    /* border: 6px solid salmon; */
    padding: 0px;
}
/* banner section */
.banner-div {
    width: 100%;
    height: 808px;
    background-image: url("./images/banner/banner1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: right;
    display: flex;
    align-items: center
}

.banner-texts {
    padding-left: 1400px;

}

.header-text {
    font-size: 65px;
}

.btn1 {
    width: 160px;
    height: 64px;
    background-color: red;
    border-radius: 10px;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: none;


}

.para-text {
    margin-top: 24px;
    margin-bottom: 24px;
}

/*middle section*/
.failure{
   display: flex; 
   align-items: center;
   /* justify-content: space-around; */
}
.myfailure{
    padding-left: 105px;
}
.image-me{
    padding-left: 228px;
    padding-top: 50px;
    text-align: left;
}
.failpara{
    padding: 24px 0px 24px 0px;
}
.faillist{
    padding-left: 18px;
}